body {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(109, 140, 150);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-bar-heading {
  text-decoration: none;
  color: white;
  align-self: center;
  font-size: 1.7rem;
  font-size: bolder;
}
.nav-link {
  text-decoration: none;
  padding: 0.5rem;
  border: 2px solid rgb(89, 89, 163);
}
.style-ul {
  list-style: none;
}
